<div class="card">
  <div class="card-block">
    <h4>
      {{ artist?.artistName }}
      <span class="tag tagdefault">{{ artist?.primaryGenreName }}</span>
    </h4>
    <hr />
    <footer>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="['./tracks']"
            >Tracks
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="['active']"
            [routerLink]="['./albums']"
            >Albums
          </a>
        </li>
      </ul>
    </footer>
  </div>
</div>
<div class="m-t-1">
  <router-outlet></router-outlet>
</div>
