<router-outlet>
  <div [style.margin.px]="10">
    <!-- <ngif-ngfor-ngclass></ngif-ngfor-ngclass> -->
    <!-- <app-jokes></app-jokes> -->
    <!-- <custom-directive></custom-directive> -->
    <!-- <observable-subscribe></observable-subscribe> -->
    <!-- <form-example> </form-example> -->
    <!-- <in-built-pipes></in-built-pipes> -->
    <!-- <async-pipe-example></async-pipe-example> -->
    <!-- <pipe-observable></pipe-observable> -->
    <!-- <custom-pipe></custom-pipe> -->
    <!-- <model-driven-forms></model-driven-forms> -->
    <!-- <reactive-forms></reactive-forms> -->
    <!-- <template-driven-form></template-driven-form> -->
    <!-- <parent>
    <child> </child>
  </parent>
  <parent>
    <child> </child>
  </parent> -->
    <!-- <core-http></core-http> -->
    <!-- <http-using-promise></http-using-promise> -->
    <!-- <http-using-observable></http-using-observable> -->
    <!-- <http-using-jsonp></http-using-jsonp> -->
    <router-config></router-config>
  </div>
</router-outlet>
