<router-outlet>
  <!-- <app-jokes></app-jokes> -->
  <!-- <ngif-ngfor-ngclass></ngif-ngfor-ngclass> -->
  <!-- <custom-directive></custom-directive> -->
  <!-- <observable-subscribe></observable-subscribe> -->
  <!-- <form-example> </form-example> -->
  <!-- <in-built-pipes></in-built-pipes> -->
  <!-- <async-pipe-example></async-pipe-example> -->
  <!-- <pipe-observable></pipe-observable> -->
  <!-- <custom-pipe></custom-pipe> -->
  <!-- <model-driven-forms></model-driven-forms> -->
  <!-- <reactive-forms></reactive-forms> -->
  <template-driven-form></template-driven-form>
</router-outlet>
