<form class="form-inline">
  <div class="form-group">
    <input
      type="search"
      class="form-control"
      placeholder="Enter search string"
      [formControl]="searchField"
      #search
    />
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onSearch(search.value)"
  >
    Search
  </button>
</form>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let track of itunes.results">
    <img src="{{ track.thumbnail }}" />&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="{{ track.link }}">{{ track.track }} </a>
  </li>
</ul>
